[profile.default]
src = "src"
out = "out"
libs = ["lib"]
optimizer = true
optimizer_runs = 200
via_ir = false
fs_permissions = [{ access = "read", path = "./tier2_wallets.csv" },{ access = "read", path = "./tier3_wallets.csv" }]


# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
